<div class="container">
    <button type="button" class="btn btn-primary" (click)="gotoItems(1)">Heroe 1</button>
    <button type="button" class="btn btn-primary" (click)="gotoItems(2)">Heroe 2</button>
    <button type="button" class="btn btn-primary" (click)="gotoItems(3)">Heroe 3</button>
</div>
