<div class="container">
    <h2><span class="badge badge-primary">{{score}}</span></h2>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" *ngFor="let card of cards">
            <app-card [info]="card" (onResponded)="handleResponse($event)"></app-card>
        </div>
    </div>
    
</div>