<div class="form-group">

    <div class="mx-1">
        <label for="">Nombre del héroe</label>
        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder=""
            [(ngModel)]="newHeroName">
        <label for="">Descripción del héroe</label>
        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder=""
            [(ngModel)]="newHeroDescription">
        <button type="button" [class]="this.getClass()" (click)="this.addHero()" [disabled]="this.isNameEmpty()">Nuevo héroe</button>
    </div>

</div>

<hr/>