<div class="card">
    <div class="card-body">
        <h4 class="card-title" [innerHtml]="info.question"></h4>
        <button (click)="this.handleClick(answer)" type="button" [class]="getClass(answer)" *ngFor="let answer of info.answers" [disabled]="info.responded">{{answer}}</button>
    </div>
</div>