<div class="container">
    <app-dateapod (onDatePicked)="this.datePicked($event)"></app-dateapod>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" *ngFor="let date of dates">
            <app-showapod [date]="this.date"></app-showapod>
        </div>
    </div>

</div>