<div class="container">
<ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options" (userChange)="this.handleChange()" *ngIf="showSlider"></ng5-slider>
<button type="button" [ngClass]="{ btn:true, 'btn-primary':true}" (click)="this.handleClick()">Deshabilitar slider</button>
<div class="row" *ngIf="beers.length > 0">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" *ngFor="let beer of showBeers">
        <div class="card">
            <img class="card-img-top" src="holder.js/100x180/" alt="">
            <div class="card-body">
                <h4 class="card-title">{{beer.name}}</h4>
                <p class="card-text">{{beer.tagline}}</p>
                <p class="card-text">{{beer.abv | alcohol}}</p>
            </div>
        </div>
    </div>
</div>

<div class="alert alert-primary" role="alert" *ngIf="beers.length == 0">
    <strong>Loading...</strong>
</div>
</div>