<div class="card">
    <img [src]="data.url" alt="" class="img-fluid d-block mx-auto">
    <div class="card-body">
        <h4 class="card-title">{{data.title}}</h4>
        <p class="card-text">{{data.explanation}}</p>
    </div>
</div>