<tr>
    <!-- create button and assign value to each button -->
    <!-- dis("1") will call function dis to display value -->
    <td><button class="btn btn-primary btn-block" type="button" value="1" (click)="this.handleClick(1)">1</button> </td>
    <td><button class="btn btn-primary btn-block" type="button" value="2" (click)="this.handleClick(2)">2</button> </td>
    <td><button class="btn btn-primary btn-block" type="button" value="3" (click)="this.handleClick(3)">3</button> </td>
    <td><button class="btn btn-primary btn-block" type="button" value="/" (click)="this.handleClick('/')">/</button> </td>
 </tr>
 <tr>
    <td><button class="btn btn-primary btn-block" type="button" value="4" (click)="this.handleClick(4)">4</button> </td>
    <td><button class="btn btn-primary btn-block" type="button" value="5" (click)="this.handleClick(5)">5</button> </td>
    <td><button class="btn btn-primary btn-block" type="button" value="6" (click)="this.handleClick(6)">6</button> </td>
    <td><button class="btn btn-primary btn-block" type="button" value="-" (click)="this.handleClick('-')">-</button> </td>
 </tr>
 <tr>
    <td><button class="btn btn-primary btn-block" type="button" value="7" (click)="this.handleClick(7)">7</button> </td>
    <td><button class="btn btn-primary btn-block" type="button" value="8" (click)="this.handleClick(8)">8</button> </td>
    <td><button class="btn btn-primary btn-block" type="button" value="9" (click)="this.handleClick(9)">9</button> </td>
    <td><button class="btn btn-primary btn-block" type="button" value="+" (click)="this.handleClick('+')">+</button> </td>
 </tr>
 <tr>
    <td><button class="btn btn-primary btn-block" type="button" value="." (click)="this.handleClick('.')">.</button> </td>
    <td><button class="btn btn-primary btn-block" type="button" value="0" (click)="this.handleClick(0)">0</button> </td>
    <!-- solve function call function solve to evaluate value -->
    <td><button class="btn btn-primary btn-block" type="button" value="=" (click)="this.handleClick('=')">=</button> </td>
    <td><button class="btn btn-primary btn-block" type="button" value="*" (click)="this.handleClick('*')">*</button> </td>
 </tr>